<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">

    <!-- 设置应用程序名称-->
    <display-name>Hello My JSP!</display-name>

    <!-- 这里修改session的失效时间10分钟-->
    <session-config>
        <session-timeout>10</session-timeout>
    </session-config>

    <!-- ********************servlet元素*********************** -->
    <!--用于注册一个servlet，name:servlet的注册名称(随意)；class:servlet的完全限定名-->
    <servlet>
        <servlet-name>HelloServlet</servlet-name>
        <servlet-class>servlet.HelloServlet</servlet-class>
    </servlet>
    <!--servlet-mapping用于映射servlet对外访问的路径-->
    <!-- 这里的name与servlet的name要保持一致-->
    <!-- pattern用于指定servlet对外访问路径，这里设置为/hello。类似于地址映射-->
    <servlet-mapping>
        <servlet-name>HelloServlet</servlet-name>
        <url-pattern>/Hello</url-pattern>
    </servlet-mapping>
    <!-- ************************************************** -->

    <!-- ###################Servlet实现登陆功能################### -->
    <servlet>
        <servlet-name>LoginServet</servlet-name>
        <servlet-class>servlet.LoginServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServet</servlet-name>
        <url-pattern>/loginServlet</url-pattern>
    </servlet-mapping>
    <!-- ####################################################### -->
    
<!-- $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$ -->
    <!--&lt;!&ndash; 添加config配置信息&ndash;&gt;
    <servlet>
        &lt;!&ndash; name可以自定义&ndash;&gt;
        <servlet-name>config</servlet-name>
        &lt;!&ndash; jsp-file为指定config_object目录下的jsp文件&ndash;&gt;
        <jsp-file>/config_object/config.jsp</jsp-file>
        <init-param>
            <param-name>username</param-name>
            <param-value>rison</param-value>
        </init-param>
        <init-param>
            <param-name>password</param-name>
            <param-value>123</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        &lt;!&ndash; 这里需要和上面的servlet-name对应&ndash;&gt;
        <servlet-name>config</servlet-name>
        &lt;!&ndash; 进行url映射，*为通配符:config_object目录下的所有文件&ndash;&gt;
        <url-pattern>/config_object/*</url-pattern>
    </servlet-mapping>-->
    <!-- $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$-->

    <!--<servlet>
        <servlet-name>HelloJavaEE</servlet-name>
        <servlet-class>HelloJavaEE</servlet-class>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>HelloJavaEE</servlet-name>
        <url-pattern>HelloJavaEE</url-pattern>
    </servlet-mapping>-->

</web-app>